@theme {
   --font-franklin-gothic: 'Franklin Gothic', sans-serif;
   --font-tahoma: 'Tahoma', sans-serif;
   --font-verdana: 'Verdana', sans-serif;
   --font-trebuchet: 'Trebuchet MS', sans-serif;
   --font-inter: 'Inter', sans-serif;

   --color-stroke-disabled: #cac8bb;
   --color-stroke-separator-soft: #c7c5b2;
   --color-stroke-input-border: #1c5180;
   --color-fg-reverted: #ffffff;
   --color-fg-disabled: #aca899;
   --color-fg-soft: #7f7c73;
   --color-fg-default: #000000;
   --color-fg-link: #215dc6;
   --color-bg-white-frame: #ffffff;
   --color-bg-highlight-panel: #f7f7f7;
   --color-bg-default-window: #ece9d8;
   --color-bg-tooltip: #fffde1;
   --color-bg-explorer-presenter: #6375d6;
   --color-bg-selection: #316ac5;

   --color-kit-green-60: #4bd24b;
   --color-kit-green-50: #4ab030;
   --color-kit-green-30: #1c6733;
   --color-kit-blue-60: #509af4;
   --color-kit-blue-50: #245cda;
   --color-kit-blue-30: #214fa8;
   --color-kit-cyan-60: #2ec6fd;
   --color-kit-cyan-50: #11a5f0;
   --color-kit-cyan-30: #0c7dce;
   --color-kit-lavender-60: #cbcbff;
   --color-kit-lavender-50: #9999ff;
   --color-kit-lavender-30: #5b5bed;
   --color-kit-orange-60: #e68b2c;
   --color-kit-orange-50: #ffbd1a;
   --color-kit-creme-90: #f5f4ea;
   --color-kit-creme-70: #ece9d8;
   --color-kit-creme-60: #c9c7ba;
   --color-kit-creme-30: #aca899;
   --color-kit-white: #ffffff;
   --color-kit-black: #000000;
   --color-kit-dark-gray: #707070;
   --color-kit-flag-orange: #ff813b;
   --color-kit-flag-yellow: #ffc73c;
   --color-kit-flag-green: #87d037;
   --color-kit-flag-blue: #94d5fd;

   --color-xp-black: #000000;
   --color-xp-blue-dark: #2054c1;
   --color-xp-blue: #245cda;
   --color-xp-blue-selection: #316ac5;
   --color-xp-blue-muted: #4d6185;
   --color-xp-blue-bright: #509af4;
   --color-xp-blue-light: #7c9fd3;
   --color-xp-blue-92: #92aff7;
   --color-xp-blue-95: #95b2f6;
   --color-xp-blue-9c: #9caef3;
   --color-xp-blue-pale: #c1d3fb;
   --color-xp-cyan-dark: #1c5180;
   --color-xp-cyan: #7f9db9;
   --color-xp-gray: #aca899;
   --color-xp-green: #21a121;
   --color-xp-green-light: #76c576;
   --color-xp-green-lime: #87d037;
   --color-xp-orange: #ff813b;
   --color-xp-orange-yellow: #ffc73c;
   --color-xp-white-blue: #eef4fe;
   --color-xp-white: #ffffff;
   --color-xp-yellow-muted: #c7c5b2;
   --color-xp-yellow-warm: #ece9d8;
   --color-xp-yellow-light: #eeede5;
   --color-xp-yellow-cream: #f1efe2;
}
